@media(max-width:1326px) {
    .contact-heading {
        margin-bottom: 60px !important;
        margin-top: 90px;
    }

    .product-category {
        margin-bottom: 60px !important;
        margin-top: 90px;
    }

    .contact-form {
        width: 100%;
        height: 100%;
    }

}

@media(max-width:992px) {
    .navbar {
        background-color: white;
    }

    .nav-item .nav-link {
        color: black;
        font-size: 17px;
        font-weight: 600;
    }

    .logo {
        color: black !important;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 0px 0px;
    }

    .img-home {
        width: 420px;
        margin-right: 0px;
    }

    .home-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 74px;
    }

    .box-container-2 {
        padding-left: 90px;
    }

    .about-img {
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right: 0px;
    }

    .about-us-container {
        height: 100vh !important;
    }

    .about-us {
        margin-top: 0px;
    }

    .product-category {
        width: 100%;
        height: auto;
    }

    .product-heading {
        margin-top: 95px;
        margin-bottom: 80px;
    }

    .container-content {
        width: 90%;
        height: 350px;
    }

    .testimonial {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -28px !important;
    }

    .form-orgin {
        width: 100%;
        height: auto;
    }

    .contact-content {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 26px 10px;
    }

}

@media(max-width:768px) {
    .home-content-2 {
        height: auto;
    }

    .box-container {
        display: flex;
        justify-content: center;
    }

    .home-img {
        width: 500px;
        margin-top: 50px;
    }

    .about-us {
        margin-top: 140px;
        height: 80vh;
    }

    .about-us-container {
        padding-top: 15rem !important;
        margin-bottom: 140px !important ;
        height: auto;
    }

    .home-heading {
        font-size: 46px;
        line-height: 82px;
        text-align: center;
    }

    .box-container-2 {
        padding-left: 0px;
    }

    .home-para {
        text-align: center;
        max-width: 100%;
    }

    .box-container {
        padding-left: 0px;
    }
    .home-btn{
        text-align: center;
    }
    .about-content{
        padding: 10px 20px;
    }
    .about-img{
        height: 100%;
    }
    .product-category{
        margin-top: 60px!important;
    }
    .img-card{
        height: 290px !important;
    }
    .btn-scroll{
        display: none;
    }
    .containter-content{
        width: 80%;
        height: 350px;
    }
    .testimonial-heading{
        font-size: 14px;
        line-height: 60px;

    }
    .testimonial-para{
        font-size: 14px;
        letter-spacing: 0px;
        max-width: 600px !important;
    }
}

@media(max-width:576px){
    .img-home{
        width: 348px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .home-heading{
        font-size: 32px;
        line-height: 52px;
    }
    .about-us-container{
        padding-top: 2rem !important;
    }
    .product-heading{
        font-size: 25px;
        margin-top: 0px;
    }
    .contact-content{
        width: 100%;
        height: auto;
        padding: 11px;
    }
    .testimonial-heading{
        font-size: 30px;
        line-height: 50px;
    }
    .client-img{
        width: 98px;
        height: -0px;
    }
    .client-name{
        font-size: 18px;

    }
    .client-para{
        font-size: 13px;
        line-height: 21px;
    }
}