@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

/* variables */
:root{
    --white-color--:white;
    --black-color--:#232323;


    --font-family--:'Poppins', sans-serif;
}

/* root */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family--);
    color: var(--white-color--);
}

body{
    background-color: var(--black-color--);
    overflow-x: hidden;
}

/* header */

.header{
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}

.logo{
    font-weight: 600;
    color: rgb(255, 255, 255,0.848) !important;
}

.nav-item{
    margin: 0 10px;
}

.nav-item .nav-link{
    color: rgb(255, 255, 255,0.92);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after{
    content:"";
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(255,129,57);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    color:  rgb(255,129,57);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(36, 193, 255);
    color: var(--white-color--);
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(36, 193, 255);
    transition: 0.2s ease;
}

.btn-navbar:hover{
    background-color: transparent;
    color: rgb(255,129,57);
    border: 1px solid rgb(255,129,57);

}

/* home section start */

.home-content-2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}

.home-para{
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255,0.42);
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
}

.home-links{
    display: inline-block;
    text-decoration: none;
    color: var(--white-color--);
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s ease;
}

.img-home{
    margin-right: 20px;
    width: 580px;
}

.btn-2{
    border: 1px solid rgb(36, 193, 255);
    color: rgb(36, 193, 255);
    background-color: transparent;
}

.home-links:hover{
    background-color: transparent;
    color: rgb(255,129,57);
    border: 1px solid rgb(255,129,57)!important;

}

.home-span{
    color: rgb(255,129,57);
}